<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">

            <h1 style="padding-top:55px;">Sorry, Couldn't find that page. Either try again or submit a help ticket!</h1>

        </div>
    </main>
    <!-- end main content -->
<%- include('../includes/end.ejs', {ads: ''}) %>