<%- include('../includes/head.ejs') %>
<%- include('../includes/navigation.ejs') %>
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Pricing</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>Differences between Basic and Premium membership with Underdog Idols</h1>
						<ol>
							<li>
								<h4>Basic Compeition Rules/Regulations</h4>
								<ol>
									<li>Free Registration to our portal and allowed one music video posting per month (cost 10 dollars per video).</li>
									<li>The winner will get their video sent to all record label companies accompanied with their total number of votes allotted for the given performance. The record label company will then decide if they want to award you a recording contract.</li>
									<li>It is up to the candidate to get their professional video edited and posted on our portal so they can accumulate the number of votes needed to win the second and last round for the given season.</li>
									<li>If it takes you 25 days to complete the video, you will have the remaining 5 days to promote it and get as many votes as possible. Every candidate will have the same amount of calendar days to prepare, edit, post and promote their performance to the general public.</li></li>
									<li>If video not completed during that time frame for Round 2, you can use that professional video for the following next season and start all over again.</li>
								</ol>
							</li>
							<li>
								<h4>Basic membership privileges ($10/month)</h4>
								<ol>
									<li>All music videos MUST to be posted between Day 1 and DAY 7th of every calendar month to participate within the given season (Each month is considered 1 season)</li>
									<li>Any videos posted on our portal AFTER the 7th day of the calendar month, the video will be up for vote for the next season (next month).</li>
									<li>Basic members will have delayed access to an exclusive URL to promote their video through FB, and all other social media platforms on the internet to gather as many votes as possible within that calendar month. (Available AFTER the 7th of each month)</li>
								</ol>
							</li>

							<li>
								<h4>Premium membership privileges ($99/year)</h4>
								<ol>
									<li>One time payment gets you one performance upload in every season for the duration of 1 year from purchase (12 seasons total).</li>
									<li>You can upload your video at any given day of the month, unlike basic members, and still enter the current season's competition.</li>
									<li>You will be able to access your promotional link immediately after upload and have 7 extra days of promotion to increase your votes.</li>
									<li>Premium subscription saves you 21$ yearly and allows you more flexibility to enter 12 seasons consecutively.</li>
									<li>Premium users WILL be able to edit their song after it is uploaded.</li>
									<li>Premium members have their video listed on home page of our portal over basic members. Premium members have priority over basic members for video placement on Underdog Idols. </li>
								</ol>
							</li>
						</ol>
					</div>
				</div>
				<!-- end title -->
			</div>
		</div>
	</main>
	<!-- end main content -->
<%- include('../includes/end.ejs', {ads: ads}) %>